.header
{
    width:100%;
    height:80px;
    background-color: rgba(0, 0, 0);
    color: White;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap:30%;
}

.logo
{
    font-size: 1.2rem;
}

.navBar ul
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:30px;
    list-style-type: none;
    font-size: 1.1rem;
}

a
{
    
    text-decoration: none;
    color:white;
}
a:hover
{
    scale:1.1;
    text-decoration: underline;
}