body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(176, 221, 235);
  font-family: "Audiowide", sans-serif;
}

#root 
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap:20px;
}

.container 
{
  font-family: "Audiowide", sans-serif;
  flex: 1;
  display:flex;
  justify-content: center;
  gap:20px;
  /* align-items:center; */
}