.footer{
    background-color: black;
    width:100%;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

h3{
    color: white;
    font-size:0.8rem;
    text-align:center;
}